<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Menu Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="protein-drinks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protein-drinks-link">
                <a href="{% url 'products' %}?category=smoothies" class="dropdown-item">Smoothies</a>
                <a href="{% url 'products' %}?category=frappés" class="dropdown-item">Frappés</a>
                <a href="{% url 'products' %}?category=energy_drinks" class="dropdown-item">Energy Drinks</a>
                <a href="{% url 'products' %}?category=smoothies,frappés,energy_drinks" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="protein-snacks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protein-snacks-link">
                <a href="{% url 'products' %}?category=bars" class="dropdown-item">Bars</a>
                <a href="{% url 'products' %}?category=flapjacks" class="dropdown-item">Flapjacks</a>
                <a href="{% url 'products' %}?category=cookies" class="dropdown-item">Cookies</a>
                <a href="{% url 'products' %}?category=crisps" class="dropdown-item">Crisps</a>
                <a href="{% url 'products' %}?category=pancakes" class="dropdown-item">Pancakes</a>
                <a href="{% url 'products' %}?category=bars,flapjacks,cookies,crisps,pancakes" class="dropdown-item">All Snacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-deals-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>